.nav
    width: 200%
    height: 100vh
    background-color: black
    transform-origin: top right
    transform: rotate(-90deg)
    transition: .5s
    right: 0
    position: fixed
    &.active
        transform: rotate(0deg)
.content
    position: absolute
    width: 50%
    height: 100vh
    left: 50%
.list
    position: absolute
    color: white