@import '../../variables+mixins+placeholders/_variables.sass'

.about
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    background-color: $yellow-color
.container
    margin-top: $margin-edge
    background-color: white
.title
    position: relative
    font-size: $font-sizeBig
    text-transform: uppercase
    overflow: hidden
    transform: translate(15px,15px)
    &::before
        content: ""
        width: 50px
        height: 2px
        background-color: black
        position: absolute
        transform: rotate(-90deg)
        transform-origin: left top
        transition: 1s
    &::after
        content: ""
        width: 100%
        height: 2px
        background-color: black
        position: absolute
        bottom: 0
        left: 0
        transform: translateX(-100%)
        transition: 1s .5s
.about.active .title::before
    transform: rotate(-90deg) translateX(-200%)
.about.active .title::after
    transform: translateX(100%)

.content
    font-size: $font-sizeContent
    margin: $margin-edge $margin-edge 0 $margin-edge
    & img
        width: 100%
        margin-bottom:  $margin-edge
    & p
        margin-bottom: $margin-edge