@import '../../variables+mixins+placeholders/_variables.sass'

.about
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    background-color: $yellow-color
.container
    margin-top: $margin-edge
    background-color: white
.title
    position: relative
    font-size: $font-sizeBig
    text-transform: uppercase
    overflow: hidden
    transform: translate(15px,15px)
    &::before
        content: ""
        width: 50px
        height: 2px
        background-color: black
        position: absolute
        transform: rotate(-90deg)
        transform-origin: left top
        transition: 1s
    &::after
        content: ""
        width: 100%
        height: 2px
        background-color: black
        position: absolute
        bottom: 0
        left: 0
        transform: translateX(-100%)
        transition: 1s .5s
.about.active .title::before
    transform: rotate(-90deg) translateX(-200%)
.about.active .title::after
    transform: translateX(100%)

.content
    font-size: $font-sizeContent
    margin: $margin-edge $margin-edge 0 $margin-edge
    & img
        width: 100%
        margin-bottom:  $margin-edge
    & p
        margin-bottom: $margin-edge

@media (orientation: landscape)
    .content
        display: flex
        flex-direction: row
        align-items: flex-start
        & img
            width: 50%
        & p
            margin-bottom: $margin-edge
    .text
        width: 45%
        margin-left: 3rem

@media (orientation: landscape) and (min-width: 640px)
    .about.active .title::before
        transform: rotate(-90deg) translateX(-250%)
    .about.active .title::after
        transform: translateX(150%)
@media (orientation: landscape) and (min-width: 1280px)
    .about.active .title::before
        transform: rotate(-90deg) translateX(-350%)
    .about.active .title::after
        transform: translateX(200%)
    .content
        justify-content: space-around
        & img
            width: 40%
