@import '../../variables+mixins+placeholders/_variables.sass'

.form
    margin-top: $margin-content
    position: relative
    width: 80%
    padding: 5px;
    display: flex
    flex-direction: column
    &::before
        content: ""
        position: absolute
        height: 100%
        width: 50%
        top: 0
        left: 0
        z-index: -1
        background-color: $yellow-color

.title
    font-size: $font-sizeSubtitle

.container
    width: 100%
    margin-top: 15px

.content
    font-size: $font-sizeContent

.input
    background-color: transparent
    border: none
    border-bottom: 1px solid black
    width: 100%
    padding: 5px 0

.message
    background-color: transparent
    border: none
    border-bottom: 1px solid black
    width: 100%
    padding: 5px 0