@import '../../variables+mixins+placeholders/_variables.sass'

.form
    margin-top: $margin-content
    position: relative
    width: 80%
    padding: 5px
    &::before
        content: ""
        position: absolute
        height: 100%
        width: 50%
        top: 0
        left: 0
        z-index: -1
        background-color: $yellow-color

.labCon
    display: flex
    flex-direction: column

.title
    font-size: $font-sizeSubtitle
    text-align: center


.container
    width: 100%
    margin-top: 20px

.content
    font-size: $font-sizeContent

.input
    background-color: transparent
    border: none
    border-bottom: 1px solid black
    width: 100%
    padding: 5px 0
    font-size: $font-sizeContent
    margin-top: 5px

.message
    font-size: $font-sizeContent
    background-color: transparent
    border: none
    border-bottom: 1px solid black
    width: 100%
    padding: 5px 0

@media (orientation: landscape)
    .container
        width: 40%
    .labCon
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around